body {
    margin: 0;
    text-align: auto;
    background-color: #d0d0d0;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color: #000;
}

navigation {
    width: 80%;
    align-items: left;
    height: 80px;
    background-color: #000;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.nav-link {
    margin-left: 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    opacity: .6;
    font-weight: 700;
    letter-spacing: 4px;
}

.nav-link:hover {
    color: black;
}

.frame {
    width: 80%;
    height: auto;
    border: 2px solid rgb(3, 2, 2);
    background: rgb(209, 129, 38);
    margin: auto;
    padding: 20px 5px;
}

.Start {
    width: 100%;
    height: 100%;
}

.para {
    text-align: center;
    font-size: larger;
}

h2 {
    font-size: xx-large;
    text-align: center;
    color: #000;
}

.col {
    float: left;
    height: 25%;
    width: 25%;
    height: auto;
}

a {
    text-align: center;
    color: #000;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #010505;
}

.bottom {
    background-color: #ddbfc9;
    padding: 50px 0 20px;
}